Babel==1.3
Django==1.6.5
Jinja2==2.7.3
MarkupSafe==0.23
SocksiPy-branch==1.01
amqp==1.4.5
anyjson==0.3.3
boto==2.30.0
cffi==0.8.2
crcmod==1.7
cryptography==0.4
django-standalone==0.4
gcs-oauth2-boto-plugin==1.7
google-api-python-client==1.2
gsutil==4.4
httplib2==0.9
iso8601==0.1.10
kombu==3.0.20
oauth2client==1.2
pbr==0.8.2
prettytable==0.7.2
pyOpenSSL==0.14
pycparser==2.10
pycrypto==2.6.1
pypm==1.4.0
python-gflags==2.0
python-novaclient==2.17.0
pythonselect==1.3
pytz==2014.4
requests==2.3.0
retry-decorator==1.0.0
simplejson==3.5.3
six==1.7.3
stevedore==0.15
virtualenv==1.11.6
virtualenv-clone==0.2.5
virtualenvwrapper==4.3
web.py==0.37
wsgiref==0.1.2
